<template>
<div v-if="result" class="flex flex-col 2xl:mx-96 xl:mx-48 lg:mx-32 md:mx-32 sm:mx-2 my-12">
    <div class="flex justify-between px-4 pb-2 sm:px-6 border-b-2">
      <h4 class="text-lg leading-6 font-medium text-gray-900">
        <strong>EUROJACKPOT RESULTS & WINNING NUMBERS</strong>
      </h4>
      <form action="">
          <select v-model="month" class="inline-flex w-28 mt-1 mr-2 rounded-sm border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  <option>Please select</option>
                  <option value="28-01" selected>Fri 28 Jan</option>
                  <option value="21-01">Fri 21 Jan</option>
          </select>
          <select v-model="year" class="inline-flex w-14 mt-1 rounded-sm border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  <option>Please select</option>
                  <option value="2022" selected>2022</option>
          </select>
      </form>
    </div>
    <div class="flex flex-col px-4 py-4 sm:px-6">
        <p class="mb-2 text-gray-400"><span style="color: rgb(202, 127, 38, 1)">EuroJackpot</span> Results for {{localeDate(result.last.date)}}</p>
        <div>
            <ul class="flex flex-row">
                <span v-for="number in result.last.numbers" :key="number" class="circle">{{number}}</span>
                <span class="text-xl px-1">+</span>
                <span v-for="number in result.last.euroNumbers" :key="number" class="circle" style="border: 1px solid rgb(202, 127, 38, 1)">{{number}}</span>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-6 2xl:gap-4 xl:gap-4 lg:gap-2 md:gap-2 sm:gap-1 ">
        <div class="justify-center 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 sm:col-span-6">
            <Tabla v-if="result" :results="result" />
        </div>
        <div class="justify-center 2xl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-6 sm:col-span-6">
            <div class="flex flex-row mb-3">
                <Section :header="section1.header" :content="section1.content" :footer="section1.footer" />
            </div>
            <div class="flex flex-row mb-3">
                <Section :header="section2.header" :content="section2.content" :footer="section2.footer" />
            </div>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import Tabla from "./Tabla.vue"
import Section from "./Section.vue";
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
    components: { Tabla, Section },
    setup() {
        const result = ref(null);
        const month = ref('28-01');
        const year = ref('2022');
        const localeDate = (date:any) =>{
            const fecha:Date = new Date(date.year,date.month-1,date.day+1);
            return fecha.toUTCString().slice(0, 16);
        };
        const section1 = {
            header: "The EuroJackpot numbers for 28.01.2022",
            content: "The 515th draw for the EuroJackpot was held on 28.01.2022, as usual at 9pm in Helsinki.",
            footer: ""
        };
        const section2 = {
            header: "EuroJackpot numbers for 28.01.2022",
            content: "The balls used for the draw are made of a synthetic polymer, softer than ping-pong balls. The results are broadcast after the draw, with the draw-machines independently checked by the VTT Technical Research Center of Finland.",
            footer: "Lottoland published the draw results immediately after the draw on 28.01.2022."
        };
        
        const searchFromApi = async () => {
            return axios.get("http://cors-anywhere.herokuapp.com/https://media.lottoland.com/api/drawings/euroJackpot", {
                headers: {
                'Content-Type': 'application/json;charset=UTF-8',
                'Access-Control-Allow-Origin': '*' // Could work and fix the previous problem, but not in all APIs
                },
            }).then(
                (resp) => {
                    result.value = resp.data;
                }
            )
        };

        onMounted(
            () => searchFromApi()
        );
        return {
            result, month, year, localeDate, section1, section2
        };
    },
}
</script>

<style>
    span.circle {
      background: #fff;
      border: 1px solid #e3e3e3;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #6e6e6e;
      display: inline-block;
      font-weight: normal;
      line-height: 30px;
      margin-right: 5px;
      text-align: center;
      width: 30px;
    }
</style>