<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="py-4 w-full bg-white border-l-lime-400 border-l-4 border-t-gray-100 border-t-2 border-r-gray-100 border-r-2 border-b-gray-100 border-b-2 " >
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="lg:text-left">
        <p class="max-w-2xl mb-2 text-sm text-gray-500 lg:mx-auto">
            {{header ? header : ""}}
        </p>
        <p class="max-w-2xl mb-2 text-sm text-gray-500 lg:mx-auto">
            {{content ? content : ""}}
        </p>
        <p class="max-w-2xl text-sm text-gray-500 lg:mx-auto">
            {{footer ? footer : ""}}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

export default {
    props: ['header','content','footer'],
  setup() {
    return {
    }
  },
}
</script>