<!-- This example requires Tailwind CSS v2.0+ -->
<template>
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Tier
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Match
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Winners
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody v-if="results" class="bg-white divide-y divide-gray-200">
              <tr v-for="(r,index) in ranking" :key="index">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-500">
                    {{ romaNumbers(++index) }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-500" >
                    {{ r['rank'+index] }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    {{ winners(results.last.odds['rank'+index].winners)+'x' }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ numberFormat(results.last.odds['rank'+index].prize) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/runtime-core';

export default defineComponent({
  props: ['results'],
  setup(props) {
    const ranking = [
      {'rank1': '5 Numbers + 2 Euronumbers'},
      {'rank2': '5 Numbers + 1 Euronumbers'},
      {'rank3': '5 Numbers + 0 Euronumbers'},
      {'rank4': '4 Numbers + 2 Euronumbers'},
      {'rank5': '4 Numbers + 1 Euronumbers'},
      {'rank6': '4 Numbers + 0 Euronumbers'},
      {'rank7': '3 Numbers + 2 Euronumbers'},
      {'rank8': '2 Numbers + 2 Euronumbers'},
      {'rank9': '3 Numbers + 1 Euronumbers'},
      {'rank10': '3 Numbers + 0 Euronumbers'},
      {'rank11': '1 Numbers + 2 Euronumbers'},
      {'rank12': '2 Numbers + 1 Euronumbers'}
      ]
    ;
    const numberFormat = ref( (n:number) => {
      const nn = n/100;
      return new Intl.NumberFormat('en-EN',{
        style: 'currency',
        currency: 'EUR',
        minimumFractionDigits: 2
      }).format(nn)
    });
    const winners = ref( (number:number) => {
        return number.toLocaleString('en-EN',{minimumFractionDigits: 0, maximumFractionDigits: 0 })
    });
    const romaNumbers = (num:number) => {
      if (typeof num !== 'number') 
        return false; 
      var digits = String(+num).split(""),
        key = ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM",
        "","X","XX","XXX","XL","L","LX","LXX","LXXX","XC",
        "","I","II","III","IV","V","VI","VII","VIII","IX"],
        roman_num = "",
        i = 3;
        while (i--)
        roman_num = (key[+digits.pop() + (i * 10)] || "") + roman_num;
        return Array(+digits.join("") + 1).join("M") + roman_num;
    };

    return {
      numberFormat, winners, ranking, romaNumbers
    }
  },
})
</script>